<h1>New Product Tag</h1>

<p>Please select the category tag you want to add. Only select one at a time.</p>
<%= simple_form_for(tag) do |f| %>
  <%= f.input :product_category, collection: @categories, input_html: { class: 'multiselectuser'} %>
  <%= f.submit %>
<% end %>
