// The general font-size for the webpage is 16px.
// The scaling ratio between the different hierarchy levels is 1.25.
// The line-height for body text (p, small) is 145%.

html {
  font-size: 16px;
}

p {
  font-size: 1rem;
  line-height: 1.45;
}

small {
  font-size: 0.75rem;
  line-height: 1.45;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.44rem;
}

h3 {
  font-size: 1.95rem;
}

h4 {
  font-size: 1.56rem;
}

h5 {
  font-size: 1.25rem;
}
