<footer class="footer container-fluid d-flex flex-row">
  <%= image_tag "unpakked_logo.png" %>

  <div class="footer-boxes d-flex flex-row">
    <div class="contact">
      <h6>CONTACT US</h6>
      <a href="#">SEND US AN EMAIL</a>
    </div>

    <div class="social-icons">
      <h6>SOCIAL MEDIA</h6>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-pinterest"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>


</footer>

  <div class="footer-text container-fluid">
    <p>PROUDLY MADE IN QUÉBEC 💙</p>
  </div>
