<h1>Pages#home</h1>



<div class="container">
  <div class="row">
    <div class="planning">

    </div>
  </div>

  <div class="row">
    <div class="card-store">
      <img src="https://images.unsplash.com/photo-1552940862-d52170cf7cfb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
      <div class="card-store-info">
        <div class="card-store-text">
          <h2>Store Name</h2>
          <p>Store Details written in here</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="itinerary">

    </div>
  </div>

  <div class="row">
    <div class="community">

    </div>
  </div>

  <div class="row">
    <div class="footer">
      <%= link_to 'All Stores', stores_path, class: 'btn btn-primary' %>
      <%= link_to 'All Categories', product_categories_path, class: 'btn btn-primary' %>
    </div>
  </div>

</div>
