.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.green-bar {
  background: rgb(60, 139, 114);
  width: 100vw;
  text-align: right;
  padding-left: 40px;
  padding-right: 40px;
  a {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
  }
  a:hover{
    text-decoration: none;
  }
}
