.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.green-bar {
  background: rgb(60, 139, 114);
  width: 100vw;
  text-align: right;
  padding-left: 40px;
  padding-right: 40px;
  a {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
  }
  a:hover{
    text-decoration: none;
  }
}

.nav-item {
  margin-left: 15px;
}

// Searchbar

.search {
  width: 100%;
  position: relative;
  display: flex;
  font-family: 'Nunito', sans-serif;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(60, 139, 114);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(60, 139, 114);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(60, 139, 114);
  background: rgb(60, 139, 114);
  text-align: center;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
